@font-face {
    font-family: lost;
    src: url("./resources/PETRICIC.ttf");
}
*{
    padding: 0;
    margin: 0;
}
body{
    background: #000000;
}
.mainheader nav {
    background: #000;
    border: transparent;
}

.mainheader nav ul {
    list-style: none;
    margin: 0 auto;
    text-align: center;
}

.mainheader nav ul li {
    display: inline;
}

.mainheader nav a:link,
.mainheader nav a:visited {
    color: #005CE6;
    font-size: 2.5em;
    font-family: lost;
    display: inline-block;
    height: 30px;
    padding: 5px 20px;
    text-decoration: none;
    margin: 0 auto;
}

.mainheader nav a:hover,
.mainheader nav a:focus {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.mainheader img{
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
}

main{
    margin: 1% 10% 1% 10%;
}
section{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border: rgba(0,92,230,0.7) 3px solid;
    background: rgba(110,110,110,0.5);
}
article{
    width: 90%;
    margin: 30px auto 30px auto;
    border: rgba(255,255,255,0.9) 2px solid;
    border-radius: 10px;
    background: rgba(129,163,165,0.6);
}
.artTxt{
    margin: 2% 2% 2% 4%;
    vertical-align: top;
    width: 37%;
    display: inline-block;
}
article > img{
    margin: 25px;
    width: 50%;
    height: auto;
    display: inline-block;
}
.artTxt h3{
    text-align: right;
    font-size: 2.5em;
}
.artTxt p{
    margin-top: 3%;
    text-align: right;
    font-size: 1.3em;
}


footer > #icons {
    text-align: center;

}
footer > #icons > a {
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
}
footer > #license {
    text-align: center;
    font-family: Arial;
    font-size: 1.2em;
    color: white;  
}
.softuni {
    width: 40px;
    height: 41px;
    background-image: url("./resources/softuni.jpg"); 
} 
.softuni:hover { 
    width: 40px;
    height: 41px;
    background-image: url("./resources/face1.jpg"); 
}
.facebook {
    width: 40px;
    height: 41px;
    background-image: url("./resources/facebook.png"); 
} 
.facebook:hover { 
    width: 40px;
    height: 41px;
    background-image: url("./resources/face5.jpg"); 
}
.twitter {
    width: 40px;
    height: 41px;
    background-image: url("./resources/twitter.png"); 
} 
.twitter:hover { 
    width: 40px;
    height: 41px;
    background-image: url("./resources/face4.jpg"); 
}
.google {
    width: 40px;
    height: 41px;
    background-image: url("./resources/google.jpg"); 
} 
.google:hover { 
    width: 40px;
    height: 41px;
    background-image: url("./resources/face2.jpg"); 
}
.youtube {
    width: 40px;
    height: 41px;
    background-image: url("./resources/twitter.png"); 
} 
.youtube:hover { 
    width: 40px;
    height: 41px;
    background-image: url("./resources/face3.jpg"); 
}

@media screen and (max-width: 1700px){
    .artTxt{
        margin: 25px auto 25px auto;
        display:block;
        width: 85%;
    }
    .artTxt h3, .artTxt p{
        text-align: center;
    }
    article > img{
        margin: 25px auto 25px auto;
        display:block;
        width: 75%;
    }
}
@media screen and (max-width: 800px) {

    .mainheader nav {
        font-size: 0.5rem;
        background: #000000;
    }

    .mainheader nav ul {
        padding-left: 0;
    }

    .mainheader nav ul li {
        display: block;
        width: 100%;
    }

    .mainheader nav ul li a:link {
        height: 25px;
    }

    .mainheader nav ul li a:hover {
        background: none;
    }
}

@media screen and (max-width: 540px){

    .mainheader nav {
        font-size: 0.550rem;
        background: #000000;
    }
}